<h1>Add a New Definition for <%= @word.name() %></h1>

<form action="/words/<%=@word.id() %>" method="post">
  <input type="hidden" id="word_id" name="word_id" value="<%= @word.id() %>">
  <div class="form-group">
  <label for="definition">Enter your definition:</label>
  <input type="text" name="definition" id="definition" class="form-control">
  </div>
  <button type="submit" class="btn-success">Add Definition</button>
</form>

<a href="/words"><button type="button" class='btn-default'>See Word List</button></a>
<a href="/words/new"><button type="button" class='btn-primary'>Add a New Word</button></a>
