<h1>Add a New Word to Your Dictionary</h1>

<form action="/words" method="post">
  <div class="form-group">
  <label for="word">Enter your word</label>
  <input type="text" name="word" id="word" class="form-control">
  </div>
  <button type="submit" class="btn btn-success">Add Word</button>
</form>
