<h1><%=@word.name()%></h1>
<h3>Definitions</h3>
  <% if @word.definitions() != [] %>
    <ul>
    <% @word.definitions().each do |definition| %>
      <li><%= definition %></li>
    <% end %>
  </ul>
<% end %>

<a href="/words"><button type="button" class='btn-default'>See Word List</button></a>
<a href="/words/<%=@word.id()%>/definitions/new"><button type="button" class='btn-primary'>Add a New Definition</button></a>
