<h1><%=@word.name()%></h1>
  <% if @word.definitions() != [] %>
    <ul>
    <% @word.definitions().each do |definition| %>
      <li><%= definition.definition() %></li>
    <% end %>
  </ul>
<% end %>
<h3>Definitions</h3>


<a href="/words">See Word List</a>
<a href="/words/<%=@word.id()%>/definitions/new">Add a New Definition</a>
