<h1>Dictionary</h1>

<h3>Here are all the words:</h3>
<ul>
<% @words.each() do |word| %>
  <li><a id="<% word.name() %>" href="/words/<%= word.id()%>"><%=word.name()%></a></li>
<% end%>
</ul>

<a href="/"><button type="button" class='btn-default'>Go Home</button></a>
<a href="/words/new"><button type="button" class='btn-primary'>Add a New Word</button></a>
